{% load static %}
{% load app_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Screenshot Generator</title>
</head>
<body>
<div align="center">
  <h1>Enter URL:</h1>
  <form action="/get_screenshot/" method="post">
  {% csrf_token %}
  <input type="url" name="url" size="40" placeholder="Ex. https://www.netflix.com" required>

  <input type="submit" value="Generate screenshot">
  </form>
  
  {% if screenshot %}
  <h2>Screenshot</h2>
    {% if save %}
    <img src="{{ MEDIA_URL }}{{ screenshot }}">
    {% else %}
    <img src="{{ screenshot|decode_image }}">   
    {% endif %}
  {% endif %}
</div>
</body>
</html>
